<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con tan solo abonando el 10% del precio inicial, podes retirar tu nuevo auto 0km!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis</h2>
                    <p>No podes ir a retirar tu vehiculo? </p>
                    <p>No te preocupes! Nos hacemos cargo de que este en tu garage!</p>
                    
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>Tenemos planes de seguros 100% recomendados para vos!</p>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->