<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/nuevologo.png" />

	<title> BORCELLE CAR</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado.ejs' ) %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
					<form action="/users/login/verify" method="get">
						<input type="email" name="usuario" value="" placeholder="email" required>
						<input type="password" name="contraseña" value=" " placeholder="contraseña" required>
						<input type="checkbox" name="recordarme" value=" " placeholder="recordarme">
						<button type="submit" value="Iniciar sesión"></button>

					</form>

			</h2>


			<!-- footer -->
			<%- include('./partials/footer.ejs' ) %>
			<!-- /footer -->
</body>

</html>