<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/nuevologo.png" />

	<title> BORCELLE CAR</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs' ) %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/profile" method="get">
					<input type="email" name="email" value="" placeholder="Ingrese su email" required> <br>
					<input type="password" name="contrasena" value=" " placeholder="Cree una contrasena" required><br>
					<input type="text" name="usuario" value="" placeholder="Elija un nombre de usuario" required><br>
					<input type="date" name="fecha" value=" " placeholder="Fecha de nacimiento" required> <br>
					<input type="number" name="dni" value="" placeholder="Ingrese DNI" required><br>
					<input type="text" name="fotoPerfil" value="" placeholder="foto de perfil" required><br>
					<button type="submit" value="Registrarse"></button>
				</form>
	
			</h2>


			<!-- footer -->
			<%- include('./partials/footer.ejs' ) %>
			<!-- /footer -->
</body>

</html>